<% include partials/header %>

<h1>
    Selamat Datang!<br />
</h1>
<br /><br/>
<div class="row justify-content-center">
    <img src="/static/images/1.png" width="95%">
    <br/>
    <img src="/static/images/2.png" width="95%">
</div>

<% include partials/footer %>