<h3>Latar Belakang</h3>
<div id="field-background">
    <div id="field-background-0">
        <div class="row">
            <div class="col-11">
                <div class="form-group">
                    <input id="backgrounds[0]" name="backgrounds[0]" class="field-background" type="text" placeholder="Masukan latar belakang"
                        class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button id="add-background" name="add-background" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>