<h3>Susunan Kepanitiaan</h3>
<div id="field-committee">
    <div id="field-committee-0">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input id="committees-position[0]" name="committeesposition[0]" type="text" placeholder="Masukan posisi"
                        class="form-control">
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <input id="committees-name[0]" name="committeesname[0]" type="text" placeholder="Masukan nama"
                        class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button id="add-committee" name="add-committee" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>