<h3>Peserta</h3>
<div id="field-participant">
    <div id="field-participant-0">
        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <input id="participants-name[0]" name="participantsname[0]" type="text" placeholder="Masukan peserta"
                        class="form-control">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input id="participants-number[0]" name="participantsnumber[0]" type="text" placeholder="Jumlah"
                        class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button id="add-participant" name="add-participant" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>