<h3>Tujuan</h3>
<div id="field-purpose">
    <div id="field-purpose-0">
        <div class="row">
            <div class="col-11">
                <div class="form-group">
                    <input id="purposes[0]" name="purposes[0]" type="text" placeholder="Masukan tujuan"
                        class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button id="add-purpose" name="add-purpose" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>