<h3>Susunan Acara</h3>
<div id="field-rundown">
    <div id="field-rundown-0">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <input id="rundowns-name[0]" name="rundownsname[0]" type="text" placeholder="Kegiatan"
                        class="form-control">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <div class="input-group date rundown-start" id="datetimepicker-rundown-start0" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input"
                            placeholder="Waktu Mulai" data-target="#datetimepicker-rundown-start0" name="rundownsstart[0]" />
                        <div class="input-group-append" data-target="#datetimepicker-rundown-start0" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <div class="input-group date rundown-finish" id="datetimepicker-rundown-finish0" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input"
                            placeholder="Waktu Selesai" data-target="#datetimepicker-rundown-finish0" name="rundownsfinish[0]" />
                        <div class="input-group-append" data-target="#datetimepicker-rundown-finish0" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input id="rundowns-pic[0]" name="rundownspic[0]" type="text" placeholder="PiC"
                        class="form-control">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input id="rundowns-notes[0]" name="rundownsnotes[0]" type="text" placeholder="Keterangan"
                        class="form-control rundown-notes">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button id="add-rundown" name="add-rundown" class="btn btn-primary"><i
                            class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>