<h3>Jadwal Kegiatan</h3>
<div id="field-schedule">
    <div id="field-schedule-0">
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <input id="schedules-name[0]" name="schedulesname[0]" type="text" placeholder="Rencana Kegiatan"
                        class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <div class="input-group date schedule-date" id="datetimepicker0" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input"
                            placeholder="Target Tanggal" data-target="#datetimepicker0" name="schedulesdate[0]" />
                        <div class="input-group-append" data-target="#datetimepicker0" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input id="schedules-pic[0]" name="schedulespic[0]" type="text" placeholder="PiC"
                        class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button id="add-schedule" name="add-schedule" class="btn btn-primary"><i
                            class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>